div(class="banner row", id="banner")
	div(class="col-xs-12 col-sm-6 col-md-12 col-lg-12 noPadd slides-container" style="height:100%")
		div(class="slide")
			div(class="container header-inner")
				div(class="bannerText clearfix")
					h1 Amy & Jon
					h4 WE ARE GETTING MARRIED
					div(class="heartline")
						hr
						i(class="fa fa-heart")
					h4 June 7th, 2015
					p(class="downArrow")
						a(href="")
							i(class="fa fa-chevron-down")
		div(class="slide")
			div(class="container header-inner")
				div(class="bannerText clearfix")
					h1 We invite you
					h4 to Celebrate our Wedding
					div(class="heartline")
						hr
						i(class="fa fa-heart")
					h4 June 7th, 2015
					p(class="downArrow")
						a(href="")
							i(class="fa fa-chevron-down")