section(class="yellow_section section_gap" id="theCouple")
	div(class="container")
		div(class="row heading")
			div(class="col-xs-12 col-sm-12 col-md-4 col-lg-4 noPadd")
				h2 The Couple
					span Bride & the Groom
		
		div(class="row clearFix theCouple")
			div(class="col-xs-12 col-sm-12 col-md-5 col-lg-5")
				img(src="images/amy.jpg", class="bigRound")
				h3 Amy Vesey

			div(class="col-md-2 col-lg-2 line")
				i(class="fa fa-heart")

			div(class="col-xs-12 col-sm-12 col-md-5 col-lg-5")
				img(src="images/jon.jpg", class="bigRound")
				h3 Jonathan Holland