extends layout

block content
	h1 Holland Vesey Wedding
	form(method='post', action='/rsvp')
		input(type='text', name='guestName', id='guestName')
		select(name='guestCount', id='guestCount')
			option(value=1) 1
			option(value=2) 2
			option(value=3) 3
			option(value=4) 4
		input(type='submit' value='RSVP')