extends layout.jade

block content

	include partials/announcement.jade

	include partials/thecouple.jade

	include partials/weddingParty.jade

	include partials/registry.jade

	include partials/directionsRsvp.jade