doctype html
html
	head
		title Holland Vesey Wedding
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div
			ul
				li
					a(href='/') Home
				li
					a(href='/rsvp') RSVP
				li
					a(href='/directions') Directions
				li
					a(href='/registry') Registry
		block content