extends layout.jade

block content
	section(class="white_section section_gap")
		div(class="container")
			div(class="row")
				h1 Thank You!

				p Thank you for your RSVP! We look forward to seeing you there!

				a(href="/") Go Back